h1 {
    color:rgb(38, 0, 255);
    text-align: center;
     font-size: 40px;
}
#Homer.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#Homer Audio.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#White Gaming PC.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

p{
    float: center;
    color:rgb(43, 255, 0);
    font-size: 24px;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
  }
  .centermobo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  
  }
  .centercase{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  
  }
  .centerpsu{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  
  }
  .centerram{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  
  }


body {
    background-image: url('https://media3.giphy.com/media/xT9IguW7N6rBaKOgow/giphy.gif?cid=ecf05e47j7zfupquk4plwja3f2kwzcwarnnepp9a41wfip5s&rid=giphy.gif&ct=g');

}
li{
    color:rgb(101, 224, 255);
    text-align: left;
     font-size: 24px;
}
a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  #menuspace a{
  
   margin: 0 20px; 
   font-size: 20px
  }